
/*
=======
APP CSS
=======
*/

.app {
  position: relative;
  min-height: 100vh;
  background: var(--clr-black);
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s;
}

.offline-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 1s linear;
}

.offline-indicator.show {
  opacity: 1;
}

.offline-icon {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  background-color: #2e77d0;
  border-radius: 75px;
  color: white;
  padding: 0.3rem 0.7rem;
  padding-bottom: 10px;
  text-align: center;
  transition: 4s ease-in-out;
}

.offline-icon.show {
  color: white;
}

.offline-icon-message {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.offline-icon-message.show {
  opacity: 1;
}

.offline-icon > svg {
  font-size: 25px;
  position: relative;
  top: 5px;
}

.offline-text {
  font-size: 1.2rem;
}